nodered_data/flows.json
[
    {
        "id": "e24d10744ee8694c",
        "type": "tab",
        "label": "Flow A: Raw Sensor Monitor",
        "disabled": false,
        "info": "Subscribes to raw fill level, weight, and motion sensors, attaches timestamps, and forwards to debug and live dashboard gauges."
    },
    {
        "id": "54dcf69a3ae9b875",
        "type": "tab",
        "label": "Flow B: Usage Intensity Replication",
        "disabled": false,
        "info": "Replicates rule-based usage intensity level using fill updates only, while caching latest weight. Publishes structured JSON and updates dashboard cleanly."
    },
    {
        "id": "2a0efe051790fb49",
        "type": "tab",
        "label": "Flow C: Alert Engine",
        "disabled": false,
        "info": "Routes warning levels and deduplicates HIGH/CRITICAL alerts so one state transition creates one alert."
    },
    {
        "id": "c2309bf37c573735",
        "type": "tab",
        "label": "Flow D: Data Router & Archiver",
        "disabled": false,
        "info": "Filters and logs all smartbin topics. Appends to a 100-event circular buffer and exposes it over GET /nodered/api/recent-events."
    },
    {
        "id": "69d6bc9e21260366",
        "type": "tab",
        "label": "Flow F: Operator Dashboard & System Services",
        "disabled": false,
        "info": "Consolidates all UI widgets and runs background processes like the Node-RED heartbeat and system uptime counters."
    },
    {
        "id": "broker_config_node",
        "type": "mqtt-broker",
        "name": "Local MQTT Broker",
        "broker": "broker",
        "port": "1883",
        "clientid": "nodered-runtime",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "smartbin/nodered/status",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "{\"state\":\"online\"}",
        "closeTopic": "smartbin/nodered/status",
        "closeQos": "1",
        "closeRetain": "true",
        "closePayload": "{\"state\":\"offline\"}",
        "willTopic": "smartbin/nodered/status",
        "willQos": "1",
        "willRetain": "true",
        "willPayload": "{\"state\":\"offline\"}"
    },
    {
        "id": "ui_base_id",
        "type": "ui-base",
        "name": "Smart Bin Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ]
    },
    {
        "id": "e47ff8625f08df6e",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    },
    {
        "id": "ui_theme_id",
        "type": "ui-theme",
        "name": "Smart Bin Dark Theme",
        "colors": {
            "surface": "#1e1e2e",
            "primary": "#89b4fa",
            "bgPage": "#11111b",
            "groupBg": "#181825",
            "groupOutline": "#313244"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "8px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "ui_page_ops",
        "type": "ui-page",
        "name": "Smart Bin Ops",
        "ui": "ui_base_id",
        "path": "/",
        "icon": "dashboard",
        "layout": "grid",
        "theme": "ui_theme_id",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "visible": true,
        "disabled": false
    },
    {
        "id": "group_live_sensors",
        "type": "ui-group",
        "name": "Live Sensors",
        "page": "ui_page_ops",
        "width": "6",
        "height": "2",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "group_alerts",
        "type": "ui-group",
        "name": "Alerts",
        "page": "ui_page_ops",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "group_system",
        "type": "ui-group",
        "name": "System Status",
        "page": "ui_page_ops",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "037025590b653e77",
        "type": "mqtt in",
        "z": "e24d10744ee8694c",
        "name": "Fill Level Sub",
        "topic": "smartbin/sensor/fill_level",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "broker_config_node",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "1fbfeef1490ad7a7",
                "c69cff5c662522c5"
            ]
        ]
    },
    {
        "id": "add4f7fbc800091c",
        "type": "mqtt in",
        "z": "e24d10744ee8694c",
        "name": "Weight Sub",
        "topic": "smartbin/sensor/weight",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "broker_config_node",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "1fbfeef1490ad7a7",
                "9431626992a5d63c"
            ]
        ]
    },
    {
        "id": "ce829cd3a5783064",
        "type": "mqtt in",
        "z": "e24d10744ee8694c",
        "name": "Motion Sub",
        "topic": "smartbin/sensor/motion",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "broker_config_node",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "1fbfeef1490ad7a7",
                "7f7abe71b7f9cacc"
            ]
        ]
    },
    {
        "id": "1fbfeef1490ad7a7",
        "type": "function",
        "z": "e24d10744ee8694c",
        "name": "Attach Timestamp",
        "func": "msg.timestamp = new Date().toISOString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 200,
        "wires": [
            [
                "6f63878a1694ae63"
            ]
        ]
    },
    {
        "id": "7f7abe71b7f9cacc",
        "type": "function",
        "z": "e24d10744ee8694c",
        "name": "Format Motion",
        "func": "let v = msg.payload;\nif (v === 1 || v === '1' || v === true || v === 'true') { msg.payload = 'DETECTED'; }\nelse { msg.payload = 'IDLE'; }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "8a6688e607780a55"
            ]
        ]
    },
    {
        "id": "6f63878a1694ae63",
        "type": "debug",
        "z": "e24d10744ee8694c",
        "name": "Sensor Debug Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "c69cff5c662522c5",
        "type": "ui-gauge",
        "z": "e24d10744ee8694c",
        "name": "Fill Level Gauge",
        "group": "group_live_sensors",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Fill Level",
        "alwaysShowTitle": false,
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#a6e3a1",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#f9e2af",
                "text": "",
                "textType": "label"
            },
            {
                "from": "75",
                "color": "#f38ba8",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 100,
        "sizeThickness": "16",
        "sizeGap": "4",
        "sizeKeyThickness": "8",
        "className": "",
        "x": 390,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9431626992a5d63c",
        "type": "ui-gauge",
        "z": "e24d10744ee8694c",
        "name": "Weight Gauge",
        "group": "group_live_sensors",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Bin Weight",
        "alwaysShowTitle": false,
        "units": "g",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#a6e3a1",
                "text": "",
                "textType": "label"
            },
            {
                "from": "2500",
                "color": "#f9e2af",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4000",
                "color": "#f38ba8",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 5000,
        "sizeThickness": "16",
        "sizeGap": "4",
        "sizeKeyThickness": "8",
        "className": "",
        "x": 380,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8a6688e607780a55",
        "type": "ui-text",
        "z": "e24d10744ee8694c",
        "group": "group_live_sensors",
        "order": 3,
        "width": "",
        "height": "",
        "name": "Motion Indicator",
        "label": "Motion State",
        "format": "<b>{{msg.payload}}</b>",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "0d23cd29d21463c1",
        "type": "mqtt in",
        "z": "54dcf69a3ae9b875",
        "name": "Fill Sub (B)",
        "topic": "smartbin/sensor/fill_level",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "broker_config_node",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "d8e40b9b9bece6fb"
            ]
        ]
    },
    {
        "id": "017ae95b6c3abd90",
        "type": "mqtt in",
        "z": "54dcf69a3ae9b875",
        "name": "Weight Sub (B)",
        "topic": "smartbin/sensor/weight",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "broker_config_node",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "d8e40b9b9bece6fb"
            ]
        ]
    },
    {
        "id": "d8e40b9b9bece6fb",
        "type": "function",
        "z": "54dcf69a3ae9b875",
        "name": "Usage Intensity Rules",
        "func": "let fill_level = flow.get('fill_level') || 0;\nlet weight = flow.get('weight') || 0;\nlet now = Date.now();\n\nif (msg.topic === 'smartbin/sensor/weight') {\n    weight = parseFloat(msg.payload);\n    if (isNaN(weight)) weight = 0;\n    flow.set('weight', weight);\n    return null;\n}\n\nif (msg.topic !== 'smartbin/sensor/fill_level') {\n    return null;\n}\n\nfill_level = parseFloat(msg.payload);\nif (isNaN(fill_level)) fill_level = 0;\nflow.set('fill_level', fill_level);\n\nlet level = 'LOW';\nif (fill_level < 25) {\n    level = 'LOW';\n} else if (fill_level < 50) {\n    level = 'MEDIUM';\n} else if (fill_level <= 75) {\n    level = 'HIGH';\n} else {\n    level = 'CRITICAL';\n}\n\nmsg.payload = {\n    level: level,\n    fill_pct: fill_level,\n    weight_g: weight,\n    timestamp: new Date(now).toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "6f2fd3b8eacacc20",
                "link_out_intensity"
            ]
        ]
    },
    {
        "id": "link_out_intensity",
        "type": "link out",
        "z": "54dcf69a3ae9b875",
        "name": "Link to Alert Engine",
        "mode": "link",
        "links": [
            "link_in_intensity"
        ],
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "6f2fd3b8eacacc20",
        "type": "json",
        "z": "54dcf69a3ae9b875",
        "name": "Stringify JSON",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 610,
        "y": 220,
        "wires": [
            [
                "fe90c0d8b889c18c"
            ]
        ]
    },
    {
        "id": "fe90c0d8b889c18c",
        "type": "mqtt out",
        "z": "54dcf69a3ae9b875",
        "name": "Publish Intensity",
        "topic": "smartbin/nodered/usage_intensity",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker_config_node",
        "x": 840,
        "y": 220,
        "wires": []
    },
    {
        "id": "b30f77f5440d2142",
        "type": "inject",
        "z": "54dcf69a3ae9b875",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{   \"level\": \"CRITICAL\",   \"fill_pct\": 82.5,   \"weight_g\": 3820.0,   \"timestamp\": \"2026-05-22T00:22:05.123Z\" }",
        "payloadType": "str",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "link_out_intensity"
            ]
        ]
    },
    {
        "id": "link_in_intensity",
        "type": "link in",
        "z": "2a0efe051790fb49",
        "name": "From Usage Intensity Rules",
        "links": [],
        "x": 330,
        "y": 180,
        "wires": [
            [
                "94d978749d9f1a82"
            ]
        ]
    },
    {
        "id": "94d978749d9f1a82",
        "type": "function",
        "z": "2a0efe051790fb49",
        "name": "Deduplicate Alerts",
        "func": "let p = msg.payload;\n\nif (typeof p === \"string\") {\n    try { p = JSON.parse(p); } catch (e) { return null; }\n}\n\nif (!p || typeof p !== \"object\") return null;\n\nlet currentLevel = (p.level || \"\").toUpperCase();\nlet ts = p.timestamp || new Date().toISOString();\n\nif (currentLevel !== \"HIGH\" && currentLevel !== \"CRITICAL\") {\n    return null;\n}\n\nlet now = Date.now();\nlet last = flow.get(\"last_alert_time_by_level\") || {};\nlet cooldownMs = 6000; // 15 sec, change if you want\n\nif (last[currentLevel] && (now - last[currentLevel]) < cooldownMs) {\n    return null;\n}\n\nlast[currentLevel] = now;\nflow.set(\"last_alert_time_by_level\", last);\n\nmsg.payload = {\n    bin_id: p.bin_id || \"bin-01\",\n    level: currentLevel,\n    fill_pct: Number(p.fill_pct ?? p.fill_level ?? 0),\n    weight_g: Number(p.weight_g ?? p.weight ?? 0),\n    timestamp: ts\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 180,
        "wires": [
            [
                "65074a483a3c3dce"
            ]
        ]
    },
    {
        "id": "65074a483a3c3dce",
        "type": "switch",
        "z": "2a0efe051790fb49",
        "name": "Branch Level",
        "property": "payload.level",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CRITICAL",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "HIGH",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 180,
        "wires": [
            [
                "bb94856a6fcf114e"
            ],
            [
                "63b24a29e799f476"
            ]
        ]
    },
    {
        "id": "bb94856a6fcf114e",
        "type": "function",
        "z": "2a0efe051790fb49",
        "name": "Format Critical",
        "func": "let p = msg.payload;\n\nmsg.payload = {\n  bin_id: p.bin_id || \"bin-01\",\n  level: \"CRITICAL\",\n  fill_pct: Number(p.fill_pct ?? 0),\n  weight_g: Number(p.weight_g ?? 0),\n  timestamp: p.timestamp || new Date().toISOString(),\n  message: `CRITICAL - Bin ${p.bin_id || \"bin-01\"} is ${Number(p.fill_pct ?? 0)}% full. Empty immediately.`\n};\n\nflow.set(\"latestAlert\", { bin_id: msg.payload.bin_id || \"bin-01\", level: msg.payload.level || \"CRITICAL\" });\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 120,
        "wires": [
            [
                "1f3125f7c2500a68",
                "0efcf0f1c772f8ff",
                "fb9f4eea6ad71650"
            ]
        ]
    },
    {
        "id": "63b24a29e799f476",
        "type": "function",
        "z": "2a0efe051790fb49",
        "name": "Format Warning",
        "func": "let p = msg.payload;\n\nmsg.payload = {\n    bin_id: p.bin_id || \"bin-01\",\n    level: \"HIGH\",\n    fill_pct: Number(p.fill_pct ?? 0),\n    weight_g: Number(p.weight_g ?? 0),\n    timestamp: p.timestamp || new Date().toISOString(),\n    message: `WARNING - Bin ${p.bin_id || \"bin-01\"} is ${Number(p.fill_pct ?? 0)}% full. Schedule collection soon.`\n};\n\nflow.set(\"latestAlert\", { bin_id: msg.payload.bin_id || \"bin-01\", level: msg.payload.level || \"CRITICAL\" });\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 240,
        "wires": [
            [
                "b9ed8c87765b357e",
                "a65fcc374b0e4de3"
            ]
        ]
    },
    {
        "id": "1f3125f7c2500a68",
        "type": "json",
        "z": "2a0efe051790fb49",
        "name": "Stringify Alert",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1130,
        "y": 80,
        "wires": [
            [
                "531b2dee886d041a",
                "fb8b96ff67fa8844"
            ]
        ]
    },
    {
        "id": "531b2dee886d041a",
        "type": "mqtt out",
        "z": "2a0efe051790fb49",
        "name": "Pub Critical Alert",
        "topic": "smartbin/alerts/critical",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker_config_node",
        "x": 1350,
        "y": 80,
        "wires": []
    },
    {
        "id": "b9ed8c87765b357e",
        "type": "json",
        "z": "2a0efe051790fb49",
        "name": "Stringify Warning",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1140,
        "y": 280,
        "wires": [
            [
                "9d819bf369a08e16"
            ]
        ]
    },
    {
        "id": "9d819bf369a08e16",
        "type": "mqtt out",
        "z": "2a0efe051790fb49",
        "name": "Pub Warning Alert",
        "topic": "smartbin/alerts/warning",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker_config_node",
        "x": 1350,
        "y": 280,
        "wires": []
    },
    {
        "id": "0efcf0f1c772f8ff",
        "type": "ui-notification",
        "z": "2a0efe051790fb49",
        "ui": "ui_base_id",
        "position": "top right",
        "colorDefault": false,
        "color": "#ea5353",
        "displayTime": "10",
        "showCountdown": false,
        "outputs": 1,
        "allowDismiss": false,
        "dismissText": "",
        "allowConfirm": false,
        "confirmText": "",
        "raw": false,
        "className": "",
        "name": "Dashboard Alert",
        "x": 1160,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a65fcc374b0e4de3",
        "type": "debug",
        "z": "2a0efe051790fb49",
        "name": "Warning Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 230,
        "wires": []
    },
    {
        "id": "fb9f4eea6ad71650",
        "type": "http request",
        "z": "2a0efe051790fb49",
        "name": "Slack Webhook (Placeholder)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8000/webhook/slack-placeholder",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1170,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "fb8b96ff67fa8844",
        "type": "debug",
        "z": "2a0efe051790fb49",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 140,
        "wires": []
    },
    {
        "id": "42bf65b084bd6e9c",
        "type": "mqtt in",
        "z": "c2309bf37c573735",
        "name": "Wildcard Subscriber",
        "topic": "smartbin/#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "broker_config_node",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "1fe4bb7a05ce64ef",
                "62efd5b4dc5fba35"
            ]
        ]
    },
    {
        "id": "1fe4bb7a05ce64ef",
        "type": "switch",
        "z": "c2309bf37c573735",
        "name": "Route by Topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^smartbin/virtual/",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^smartbin/sensor/",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "^smartbin/alerts/",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 360,
        "y": 140,
        "wires": [
            [
                "c234e1cade5e9b70"
            ],
            [
                "3191e66af636de64"
            ],
            [
                "679588381b72a694",
                "a310f158e59f6096"
            ]
        ]
    },
    {
        "id": "c234e1cade5e9b70",
        "type": "mqtt out",
        "z": "c2309bf37c573735",
        "name": "Virtual Log Pub",
        "topic": "smartbin/nodered/virtual_log",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker_config_node",
        "x": 620,
        "y": 80,
        "wires": []
    },
    {
        "id": "3191e66af636de64",
        "type": "mqtt out",
        "z": "c2309bf37c573735",
        "name": "Sensor Log Pub",
        "topic": "smartbin/nodered/sensor_log",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker_config_node",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "679588381b72a694",
        "type": "mqtt out",
        "z": "c2309bf37c573735",
        "name": "Alert Log Pub",
        "topic": "smartbin/nodered/alert_log",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker_config_node",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "a310f158e59f6096",
        "type": "function",
        "z": "c2309bf37c573735",
        "name": "Increment Alert Counter",
        "func": "let count = flow.get('alert_count') || 0;\ncount++;\nflow.set('alert_count', count);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 260,
        "wires": [
            [
                "f962d7c0d1421dfb"
            ]
        ]
    },
    {
        "id": "62efd5b4dc5fba35",
        "type": "function",
        "z": "c2309bf37c573735",
        "name": "Circular Event Buffer",
        "func": "let topic = msg.topic || '';\nif (topic.startsWith('smartbin/nodered/')) { \n    return null; \n}\n\nlet buffer = flow.get('event_buffer') || { virtual: [], sensor: [], alerts: [] };\n\nlet category = 'sensor';\nif (topic.includes('virtual')) category = 'virtual';\nelse if (topic.includes('alerts')) category = 'alerts';\n\nlet record = {\n    topic: topic,\n    payload: msg.payload,\n    timestamp: new Date().toISOString()\n};\n\nbuffer[category].push(record);\nif (buffer[category].length > 100) buffer[category].shift();\n\nflow.set('event_buffer', buffer);\n\n// Alert display formatting\nif (category === \"alerts\") {\n    let html = '<div style=\"font-family: monospace; font-size: 0.9em; max-height: 180px; overflow-y: auto; padding-right: 6px;\">';\n    let start = Math.max(0, buffer.alerts.length - 10);\n    \n    for (let i = buffer.alerts.length - 1; i >= start; i--) {\n        let item = buffer.alerts[i];\n        let parsed = item.payload;\n        \n        if (typeof parsed === \"string\") {\n            try { parsed = JSON.parse(parsed); } catch(e) {}\n        }\n        \n        let timeStr = new Date(item.timestamp).toLocaleTimeString();\n        \n        if (parsed && typeof parsed === \"object\") {\n            let level = parsed.level || \"INFO\";\n            let binId = parsed.binid || \"bin-01\";\n            let fill = parsed.fillpct ?? \"?\";\n            let message = parsed.message || \"\";\n            \n            let color = level === \"CRITICAL\" ? \"#f38ba8\" : \"#f9e2af\";\n            \n            html += `\n                <div style=\"padding: 8px; margin-bottom: 8px; background-color: #1e1e2e; border-left: 3px solid ${color}; border-radius: 4px;\">\n                    <div style=\"color: #cdd6f4;\">\n                        <span style=\"color: #89b4fa; font-weight: bold;\">${timeStr}</span> | \n                        <span style=\"color: ${color}; font-weight: bold;\">${level}</span>\n                    </div>\n                    <div style=\"color: #a6adc8; margin-top: 4px; font-size: 0.85em;\">${message}</div>\n                </div>\n            `;\n        } else {\n            html += `<div style=\"padding: 8px; color: #a6adc8;\">- ${timeStr} ${String(parsed)}</div>`;\n        }\n    }\n    \n    html += '</div>';\n    \n    if (buffer.alerts.length === 0) {\n        html = '<div style=\"color: #a6adc8; padding: 8px;\">- No alerts logged yet</div>';\n    }\n    \n    node.send([null, { payload: html }]);\n}\n\nreturn null;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 320,
        "wires": [
            [],
            [
                "55c80067c0e369d3"
            ]
        ]
    },
    {
        "id": "ff4d7dd3a567f0f8",
        "type": "http in",
        "z": "c2309bf37c573735",
        "name": "GET /api/recent-events",
        "url": "/nodered/api/recent-events",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "956e30ee31b6c59c"
            ]
        ]
    },
    {
        "id": "956e30ee31b6c59c",
        "type": "function",
        "z": "c2309bf37c573735",
        "name": "Retrieve Buffer",
        "func": "let buffer = flow.get('event_buffer') || { virtual: [], sensor: [], alerts: [] };\nmsg.payload = buffer;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 420,
        "wires": [
            [
                "50a02a7999a5cfa9"
            ]
        ]
    },
    {
        "id": "50a02a7999a5cfa9",
        "type": "http response",
        "z": "c2309bf37c573735",
        "name": "Send Response",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 600,
        "y": 420,
        "wires": []
    },
    {
        "id": "f962d7c0d1421dfb",
        "type": "ui-text",
        "z": "c2309bf37c573735",
        "group": "group_alerts",
        "order": 2,
        "width": "",
        "height": "",
        "name": "Alert Count UI",
        "label": "Total Active Alerts",
        "format": "<span style='color: #f38ba8; font-weight: bold;'>{{msg.payload}}</span>",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "55c80067c0e369d3",
        "type": "ui-template",
        "z": "c2309bf37c573735",
        "group": "group_alerts",
        "page": "",
        "ui": "",
        "name": "Alert History",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<div v-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "730825ea9ab5be79",
        "type": "inject",
        "z": "69d6bc9e21260366",
        "name": "30s Heartbeat",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "{\"status\":\"alive\"}",
        "payloadType": "json",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "699531db19fac776"
            ]
        ]
    },
    {
        "id": "699531db19fac776",
        "type": "function",
        "z": "69d6bc9e21260366",
        "name": "Timestamp Heartbeat",
        "func": "msg.payload = { status: msg.payload.status, timestamp: new Date().toISOString(), device_id: 'node-red-runtime', event_type: 'heartbeat', event_time: new Date().toISOString() };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 380,
        "wires": [
            [
                "728a0e21f56a033d"
            ]
        ]
    },
    {
        "id": "728a0e21f56a033d",
        "type": "json",
        "z": "69d6bc9e21260366",
        "name": "Stringify HB",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 550,
        "y": 380,
        "wires": [
            [
                "fd2c336bc14faa73"
            ]
        ]
    },
    {
        "id": "fd2c336bc14faa73",
        "type": "mqtt out",
        "z": "69d6bc9e21260366",
        "name": "Heartbeat Pub",
        "topic": "smartbin/nodered/heartbeat",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker_config_node",
        "x": 740,
        "y": 380,
        "wires": []
    },
    {
        "id": "074bb114a17602a2",
        "type": "inject",
        "z": "69d6bc9e21260366",
        "name": "1s Tick",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 460,
        "wires": [
            [
                "9bb0e650ee9d97d4"
            ]
        ]
    },
    {
        "id": "9bb0e650ee9d97d4",
        "type": "function",
        "z": "69d6bc9e21260366",
        "name": "Uptime Counter",
        "func": "let uptime = flow.get('uptime_seconds') || 0;\nuptime++;\nflow.set('uptime_seconds', uptime);\nlet sec = uptime % 60;\nlet min = Math.floor(uptime / 60) % 60;\nlet hrs = Math.floor(uptime / 3600) % 24;\nlet days = Math.floor(uptime / 86400);\nlet uptime_str = '';\nif (days > 0) uptime_str += days + 'd ';\nuptime_str += (hrs < 10 ? '0' : '') + hrs + ':' + (min < 10 ? '0' : '') + min + ':' + (sec < 10 ? '0' : '') + sec;\nmsg.payload = uptime_str;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 460,
        "wires": [
            [
                "d9d1e8f939cf8725"
            ]
        ]
    },
    {
        "id": "d9d1e8f939cf8725",
        "type": "ui-text",
        "z": "69d6bc9e21260366",
        "group": "group_system",
        "order": 1,
        "width": "",
        "height": "",
        "name": "Uptime Display",
        "label": "Uptime",
        "format": "<code>{{msg.payload}}</code>",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 560,
        "y": 460,
        "wires": []
    }
]