nodered_data/flows.json
[
  {
    "id": "f00000000000000a",
    "type": "tab",
    "label": "Flow A: Raw Sensor Monitor",
    "disabled": false,
    "info": "Subscribes to raw fill level, weight, and motion sensors, attaches timestamps, and forwards to debug and live dashboard gauges."
  },
  {
    "id": "f00000000000000b",
    "type": "tab",
    "label": "Flow B: Usage Intensity Replication",
    "disabled": false,
    "info": "Replicates rule-based usage intensity level using fill updates only, while caching latest weight. Publishes structured JSON and updates dashboard cleanly."
  },
  {
    "id": "f00000000000000c",
    "type": "tab",
    "label": "Flow C: Alert Engine",
    "disabled": false,
    "info": "Routes warning levels and deduplicates HIGH/CRITICAL alerts so one state transition creates one alert."
  },
  {
    "id": "f00000000000000d",
    "type": "tab",
    "label": "Flow D: Data Router & Archiver",
    "disabled": false,
    "info": "Filters and logs all smartbin topics. Appends to a 100-event circular buffer and exposes it over GET /nodered/api/recent-events."
  },
  {
    "id": "f00000000000000e",
    "type": "tab",
    "label": "Flow E: ML Prediction Listener",
    "disabled": false,
    "info": "Listens to ML prediction, renders HTML badge cards, and pushes to Dashboard cards and smartbin/nodered/ml_display."
  },
  {
    "id": "f00000000000000f",
    "type": "tab",
    "label": "Flow F: Operator Dashboard & System Services",
    "disabled": false,
    "info": "Consolidates all UI widgets and runs background processes like the Node-RED heartbeat and system uptime counters."
  },
  {
    "id": "broker_config_node",
    "type": "mqtt-broker",
    "name": "Local MQTT Broker",
    "broker": "broker",
    "port": "1883",
    "clientid": "nodered-runtime",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "smartbin/nodered/status",
    "birthQos": "1",
    "birthRetain": "true",
    "birthPayload": "{\"state\":\"online\"}",
    "closeTopic": "smartbin/nodered/status",
    "closeQos": "1",
    "closeRetain": "true",
    "closePayload": "{\"state\":\"offline\"}",
    "willTopic": "smartbin/nodered/status",
    "willQos": "1",
    "willRetain": "true",
    "willPayload": "{\"state\":\"offline\"}"
  },
  {
    "id": "ui_base_id",
    "type": "ui-base",
    "name": "Smart Bin Dashboard",
    "path": "/dashboard",
    "includeClientData": true,
    "acceptsClientConfig": [
      "ui-notification",
      "ui-control"
    ]
  },
  {
    "id": "ui_theme_id",
    "type": "ui-theme",
    "name": "Smart Bin Dark Theme",
    "colors": {
      "surface": "#1e1e2e",
      "primary": "#89b4fa",
      "bgPage": "#11111b",
      "groupBg": "#181825",
      "groupOutline": "#313244"
    },
    "sizes": {
      "density": "default",
      "pagePadding": "12px",
      "groupGap": "12px",
      "groupBorderRadius": "8px",
      "widgetGap": "12px"
    }
  },
  {
    "id": "ui_page_ops",
    "type": "ui-page",
    "name": "Smart Bin Ops",
    "ui": "ui_base_id",
    "path": "/",
    "icon": "dashboard",
    "layout": "grid",
    "theme": "ui_theme_id",
    "breakpoints": [
      {
        "name": "Default",
        "px": 0,
        "cols": 3
      },
      {
        "name": "Tablet",
        "px": 576,
        "cols": 6
      },
      {
        "name": "Small Desktop",
        "px": 768,
        "cols": 9
      },
      {
        "name": "Desktop",
        "px": 1024,
        "cols": 12
      }
    ],
    "order": 1
  },
  {
    "id": "group_live_sensors",
    "type": "ui-group",
    "name": "Live Sensors",
    "page": "ui_page_ops",
    "width": "6",
    "height": "1",
    "order": 1,
    "showTitle": true,
    "groupType": "default"
  },
  {
    "id": "group_virtual_sensors",
    "type": "ui-group",
    "name": "Virtual Sensors",
    "page": "ui_page_ops",
    "width": "6",
    "height": "1",
    "order": 2,
    "showTitle": true,
    "groupType": "default"
  },
  {
    "id": "group_alerts",
    "type": "ui-group",
    "name": "Alerts",
    "page": "ui_page_ops",
    "width": "6",
    "height": "1",
    "order": 3,
    "showTitle": true,
    "groupType": "default"
  },
  {
    "id": "group_system",
    "type": "ui-group",
    "name": "System Status",
    "page": "ui_page_ops",
    "width": "6",
    "height": "1",
    "order": 4,
    "showTitle": true,
    "groupType": "default"
  },
  {
    "id": "mqtt_in_fill",
    "type": "mqtt in",
    "z": "f00000000000000a",
    "name": "Fill Level Sub",
    "topic": "smartbin/sensor/fill_level",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "broker_config_node",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 140,
    "y": 120,
    "wires": [
      [
        "func_attach_ts",
        "widget_gauge_fill"
      ]
    ]
  },
  {
    "id": "mqtt_in_weight",
    "type": "mqtt in",
    "z": "f00000000000000a",
    "name": "Weight Sub",
    "topic": "smartbin/sensor/weight",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "broker_config_node",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 130,
    "y": 200,
    "wires": [
      [
        "func_attach_ts",
        "widget_gauge_weight"
      ]
    ]
  },
  {
    "id": "mqtt_in_motion",
    "type": "mqtt in",
    "z": "f00000000000000a",
    "name": "Motion Sub",
    "topic": "smartbin/sensor/motion",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "broker_config_node",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 130,
    "y": 280,
    "wires": [
      [
        "func_attach_ts",
        "func_motion_text"
      ]
    ]
  },
  {
    "id": "func_attach_ts",
    "type": "function",
    "z": "f00000000000000a",
    "name": "Attach Timestamp",
    "func": "msg.timestamp = new Date().toISOString();\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 200,
    "wires": [
      [
        "debug_sensor_mon"
      ]
    ]
  },
  {
    "id": "func_motion_text",
    "type": "function",
    "z": "f00000000000000a",
    "name": "Format Motion",
    "func": "let v = msg.payload;\nif (v === 1 || v === '1' || v === true || v === 'true') { msg.payload = 'DETECTED'; }\nelse { msg.payload = 'IDLE'; }\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 300,
    "wires": [
      [
        "widget_text_motion"
      ]
    ]
  },
  {
    "id": "debug_sensor_mon",
    "type": "debug",
    "z": "f00000000000000a",
    "name": "Sensor Debug Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 200,
    "wires": []
  },
  {
    "id": "widget_gauge_fill",
    "type": "ui-gauge",
    "z": "f00000000000000a",
    "name": "Fill Level Gauge",
    "group": "group_live_sensors",
    "order": 1,
    "value": "payload",
    "valueType": "msg",
    "width": 3,
    "height": 3,
    "gtype": "gauge-half",
    "gstyle": "needle",
    "title": "Fill Level",
    "alwaysShowTitle": false,
    "units": "%",
    "icon": "",
    "prefix": "",
    "suffix": "",
    "segments": [
      {
        "from": "0",
        "color": "#a6e3a1",
        "text": "",
        "textType": "label"
      },
      {
        "from": "50",
        "color": "#f9e2af",
        "text": "",
        "textType": "label"
      },
      {
        "from": "75",
        "color": "#f38ba8",
        "text": "",
        "textType": "label"
      }
    ],
    "min": 0,
    "max": 100,
    "sizeThickness": "",
    "sizeGap": "",
    "sizeKeyThickness": "",
    "className": "",
    "x": 390,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "widget_gauge_weight",
    "type": "ui-gauge",
    "z": "f00000000000000a",
    "name": "Weight Gauge",
    "group": "group_live_sensors",
    "order": 2,
    "value": "payload",
    "valueType": "msg",
    "width": 3,
    "height": 3,
    "gtype": "gauge-half",
    "gstyle": "needle",
    "title": "Bin Weight",
    "alwaysShowTitle": false,
    "units": "g",
    "icon": "",
    "prefix": "",
    "suffix": "",
    "segments": [
      {
        "from": "0",
        "color": "#a6e3a1",
        "text": "",
        "textType": "label"
      },
      {
        "from": "2500",
        "color": "#f9e2af",
        "text": "",
        "textType": "label"
      },
      {
        "from": "4000",
        "color": "#f38ba8",
        "text": "",
        "textType": "label"
      }
    ],
    "min": 0,
    "max": 5000,
    "sizeThickness": "",
    "sizeGap": "",
    "sizeKeyThickness": "",
    "className": "",
    "x": 380,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "widget_text_motion",
    "type": "ui-text",
    "z": "f00000000000000a",
    "group": "group_live_sensors",
    "order": 3,
    "width": "",
    "height": "",
    "name": "Motion Indicator",
    "label": "Motion State",
    "format": "<b>{{msg.payload}}</b>",
    "layout": "row-spread",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#000000",
    "wrapText": false,
    "className": "",
    "value": "payload",
    "valueType": "msg",
    "x": 620,
    "y": 300,
    "wires": []
  },
  {
    "id": "mqtt_in_b_fill",
    "type": "mqtt in",
    "z": "f00000000000000b",
    "name": "Fill Sub (B)",
    "topic": "smartbin/sensor/fill_level",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "broker_config_node",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 120,
    "y": 140,
    "wires": [
      [
        "func_replicate_intensity"
      ]
    ]
  },
  {
    "id": "mqtt_in_b_weight",
    "type": "mqtt in",
    "z": "f00000000000000b",
    "name": "Weight Sub (B)",
    "topic": "smartbin/sensor/weight",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "broker_config_node",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 130,
    "y": 220,
    "wires": [
      [
        "func_replicate_intensity"
      ]
    ]
  },
  {
    "id": "func_replicate_intensity",
    "type": "function",
    "z": "f00000000000000b",
    "name": "Usage Intensity Rules",
    "func": "let fill_level = flow.get('fill_level') || 0;\nlet weight = flow.get('weight') || 0;\nlet now = Date.now();\n\nif (msg.topic === 'smartbin/sensor/weight') {\n    weight = parseFloat(msg.payload);\n    if (isNaN(weight)) weight = 0;\n    flow.set('weight', weight);\n    return null;\n}\n\nif (msg.topic !== 'smartbin/sensor/fill_level') {\n    return null;\n}\n\nfill_level = parseFloat(msg.payload);\nif (isNaN(fill_level)) fill_level = 0;\nflow.set('fill_level', fill_level);\n\nlet level = 'LOW';\nif (fill_level < 25) {\n    level = 'LOW';\n} else if (fill_level < 50) {\n    level = 'MEDIUM';\n} else if (fill_level <= 75) {\n    level = 'HIGH';\n} else {\n    level = 'CRITICAL';\n}\n\nmsg.payload = {\n    level: level,\n    fill_pct: fill_level,\n    weight_g: weight,\n    timestamp: new Date(now).toISOString()\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 180,
    "wires": [
      [
        "widget_text_usage",
        "json_stringify_b"
      ]
    ]
  },
  {
    "id": "json_stringify_b",
    "type": "json",
    "z": "f00000000000000b",
    "name": "Stringify JSON",
    "property": "payload",
    "action": "str",
    "pretty": false,
    "x": 610,
    "y": 220,
    "wires": [
      [
        "mqtt_out_b_intensity"
      ]
    ]
  },
  {
    "id": "mqtt_out_b_intensity",
    "type": "mqtt out",
    "z": "f00000000000000b",
    "name": "Publish Intensity",
    "topic": "smartbin/nodered/usage_intensity",
    "qos": "1",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker_config_node",
    "x": 840,
    "y": 220,
    "wires": []
  },
  {
    "id": "widget_text_usage",
    "type": "ui-text",
    "z": "f00000000000000b",
    "group": "group_virtual_sensors",
    "order": 1,
    "width": "",
    "height": "",
    "name": "Usage Intensity Display",
    "label": "Usage Level",
    "format": "<b>{{msg.payload.level}}</b> ({{msg.payload.fill_pct}}%)",
    "layout": "row-spread",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#000000",
    "wrapText": false,
    "className": "",
    "value": "payload",
    "valueType": "msg",
    "x": 650,
    "y": 140,
    "wires": []
  },
  {
    "id": "mqtt_in_c_intensity",
    "type": "mqtt in",
    "z": "f00000000000000c",
    "name": "Intensity Subscriber",
    "topic": "smartbin/nodered/usage_intensity",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "broker_config_node",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 150,
    "y": 180,
    "wires": [
      [
        "json_parse_c"
      ]
    ]
  },
  {
    "id": "json_parse_c",
    "type": "json",
    "z": "f00000000000000c",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 330,
    "y": 180,
    "wires": [
      [
        "func_dedup_alerts"
      ]
    ]
  },
  {
    "id": "func_dedup_alerts",
    "type": "function",
    "z": "f00000000000000c",
    "name": "Deduplicate Alerts",
    "func": "let currentLevel = msg.payload.level;\nlet lastAlertLevel = flow.get('last_alert_level') || '';\n\nif (currentLevel === 'HIGH' || currentLevel === 'CRITICAL') {\n    if (lastAlertLevel === currentLevel) {\n        return null;\n    }\n    flow.set('last_alert_level', currentLevel);\n    return msg;\n}\n\nflow.set('last_alert_level', currentLevel);\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 530,
    "y": 180,
    "wires": [
      [
        "switch_intensity_level"
      ]
    ]
  },
  {
    "id": "switch_intensity_level",
    "type": "switch",
    "z": "f00000000000000c",
    "name": "Branch Level",
    "property": "payload.level",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "CRITICAL",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "HIGH",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 730,
    "y": 180,
    "wires": [
      [
        "func_format_critical"
      ],
      [
        "func_format_warning"
      ]
    ]
  },
  {
    "id": "func_format_critical",
    "type": "function",
    "z": "f00000000000000c",
    "name": "Format Critical",
    "func": "msg.payload = {\n  bin_id: 'bin-01',\n  level: 'CRITICAL',\n  timestamp: msg.payload.timestamp,\n  message: 'ALERT: Wastebin bin-01 requires immediate emptying! Fill Level is at ' + msg.payload.fill_pct + '%.',\n  fill_pct: msg.payload.fill_pct\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 120,
    "wires": [
      [
        "json_stringify_crit",
        "widget_crit_notification",
        "webhook_slack_placeholder"
      ]
    ]
  },
  {
    "id": "func_format_warning",
    "type": "function",
    "z": "f00000000000000c",
    "name": "Format Warning",
    "func": "msg.payload = {\n  bin_id: 'bin-01',\n  level: 'HIGH',\n  timestamp: msg.payload.timestamp,\n  message: 'WARNING: Wastebin bin-01 fill level is high (' + msg.payload.fill_pct + '%).',\n  fill_pct: msg.payload.fill_pct\n};\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 240,
    "wires": [
      [
        "json_stringify_warn",
        "debug_warning_log"
      ]
    ]
  },
  {
    "id": "json_stringify_crit",
    "type": "json",
    "z": "f00000000000000c",
    "name": "Stringify Alert",
    "property": "payload",
    "action": "str",
    "pretty": false,
    "x": 1130,
    "y": 80,
    "wires": [
      [
        "mqtt_out_crit_alert"
      ]
    ]
  },
  {
    "id": "mqtt_out_crit_alert",
    "type": "mqtt out",
    "z": "f00000000000000c",
    "name": "Pub Critical Alert",
    "topic": "smartbin/alerts/critical",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker_config_node",
    "x": 1350,
    "y": 80,
    "wires": []
  },
  {
    "id": "json_stringify_warn",
    "type": "json",
    "z": "f00000000000000c",
    "name": "Stringify Warning",
    "property": "payload",
    "action": "str",
    "pretty": false,
    "x": 1140,
    "y": 280,
    "wires": [
      [
        "mqtt_out_warn_alert"
      ]
    ]
  },
  {
    "id": "mqtt_out_warn_alert",
    "type": "mqtt out",
    "z": "f00000000000000c",
    "name": "Pub Warning Alert",
    "topic": "smartbin/alerts/warning",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker_config_node",
    "x": 1350,
    "y": 280,
    "wires": []
  },
  {
    "id": "webhook_slack_placeholder",
    "type": "http request",
    "z": "f00000000000000c",
    "name": "Slack Webhook (Placeholder)",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://localhost:8000/webhook/slack-placeholder",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1160,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "widget_crit_notification",
    "type": "ui-notification",
    "z": "f00000000000000c",
    "ui": "ui_base_id",
    "position": "top right",
    "colorDefault": false,
    "color": "#ea5353",
    "displayTime": "10",
    "showCountdown": false,
    "outputs": 1,
    "allowDismiss": false,
    "dismissText": "",
    "allowConfirm": false,
    "confirmText": "",
    "raw": false,
    "className": "",
    "name": "Dashboard Alert",
    "x": 1160,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "debug_warning_log",
    "type": "debug",
    "z": "f00000000000000c",
    "name": "Warning Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1160,
    "y": 230,
    "wires": []
  },
  {
    "id": "mqtt_in_wildcard",
    "type": "mqtt in",
    "z": "f00000000000000d",
    "name": "Wildcard Subscriber",
    "topic": "smartbin/#",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "broker_config_node",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 130,
    "y": 200,
    "wires": [
      [
        "switch_router",
        "func_circular_buffer"
      ]
    ]
  },
  {
    "id": "switch_router",
    "type": "switch",
    "z": "f00000000000000d",
    "name": "Route by Topic",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "regex",
        "v": "^smartbin/virtual/",
        "vt": "str",
        "case": false
      },
      {
        "t": "regex",
        "v": "^smartbin/sensor/",
        "vt": "str",
        "case": false
      },
      {
        "t": "regex",
        "v": "^smartbin/alerts/",
        "vt": "str",
        "case": false
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 360,
    "y": 140,
    "wires": [
      [
        "mqtt_out_virtual_log"
      ],
      [
        "mqtt_out_sensor_log"
      ],
      [
        "mqtt_out_alert_log",
        "func_trigger_alert_counter"
      ]
    ]
  },
  {
    "id": "mqtt_out_virtual_log",
    "type": "mqtt out",
    "z": "f00000000000000d",
    "name": "Virtual Log Pub",
    "topic": "smartbin/nodered/virtual_log",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker_config_node",
    "x": 620,
    "y": 80,
    "wires": []
  },
  {
    "id": "mqtt_out_sensor_log",
    "type": "mqtt out",
    "z": "f00000000000000d",
    "name": "Sensor Log Pub",
    "topic": "smartbin/nodered/sensor_log",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker_config_node",
    "x": 620,
    "y": 140,
    "wires": []
  },
  {
    "id": "mqtt_out_alert_log",
    "type": "mqtt out",
    "z": "f00000000000000d",
    "name": "Alert Log Pub",
    "topic": "smartbin/nodered/alert_log",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker_config_node",
    "x": 610,
    "y": 200,
    "wires": []
  },
  {
    "id": "func_trigger_alert_counter",
    "type": "function",
    "z": "f00000000000000d",
    "name": "Increment Alert Counter",
    "func": "let count = flow.get('alert_count') || 0;\ncount++;\nflow.set('alert_count', count);\nmsg.payload = count;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 630,
    "y": 260,
    "wires": [
      [
        "widget_text_alert_count"
      ]
    ]
  },
  {
    "id": "func_circular_buffer",
    "type": "function",
    "z": "f00000000000000d",
    "name": "Circular Event Buffer",
    "func": "let topic = msg.topic || '';\nif (topic.startsWith('smartbin/nodered/')) { return null; }\nlet buffer = flow.get('event_buffer') || { virtual: [], sensor: [], alerts: [] };\nlet category = 'sensor';\nif (topic.includes('virtual')) category = 'virtual';\nelse if (topic.includes('alerts')) category = 'alerts';\nlet record = { topic: topic, payload: msg.payload, timestamp: new Date().toISOString() };\nbuffer[category].push(record);\nif (buffer[category].length > 100) buffer[category].shift();\nflow.set('event_buffer', buffer);\nif (category === 'alerts') {\n  let listStr = '';\n  for (let i = buffer.alerts.length - 1; i >= Math.max(0, buffer.alerts.length - 10); i--) {\n    let item = buffer.alerts[i];\n    let parsed = item.payload;\n    if (typeof parsed === 'string') { try { parsed = JSON.parse(parsed); } catch(e) {} }\n    let msgText = typeof parsed === 'object' ? (parsed.message || JSON.stringify(parsed)) : parsed;\n    listStr += '* **' + new Date(item.timestamp).toLocaleTimeString() + '**: ' + msgText + '\\n';\n  }\n  node.send([null, { payload: listStr || '*No alerts logged yet*' }]);\n}\nreturn null;",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 320,
    "wires": [
      [],
      [
        "widget_text_alert_history"
      ]
    ]
  },
  {
    "id": "http_in_recent",
    "type": "http in",
    "z": "f00000000000000d",
    "name": "GET /api/recent-events",
    "url": "/nodered/api/recent-events",
    "method": "get",
    "upload": false,
    "skipBodyParsing": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 420,
    "wires": [
      [
        "func_get_buffer"
      ]
    ]
  },
  {
    "id": "func_get_buffer",
    "type": "function",
    "z": "f00000000000000d",
    "name": "Retrieve Buffer",
    "func": "let buffer = flow.get('event_buffer') || { virtual: [], sensor: [], alerts: [] };\nmsg.payload = buffer;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 420,
    "wires": [
      [
        "http_response_recent"
      ]
    ]
  },
  {
    "id": "http_response_recent",
    "type": "http response",
    "z": "f00000000000000d",
    "name": "Send Response",
    "statusCode": "200",
    "headers": {
      "content-type": "application/json"
    },
    "x": 600,
    "y": 420,
    "wires": []
  },
  {
    "id": "widget_text_alert_history",
    "type": "ui-markdown",
    "z": "f00000000000000d",
    "group": "group_alerts",
    "name": "Alert History",
    "order": 1,
    "width": "",
    "height": "",
    "content": "{{msg.payload}}",
    "className": "",
    "x": 620,
    "y": 350,
    "wires": [
      []
    ]
  },
  {
    "id": "widget_text_alert_count",
    "type": "ui-text",
    "z": "f00000000000000d",
    "group": "group_alerts",
    "order": 2,
    "width": "",
    "height": "",
    "name": "Alert Count UI",
    "label": "Total Active Alerts",
    "format": "<span style='color: #f38ba8; font-weight: bold;'>{{msg.payload}}</span>",
    "layout": "row-spread",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#000000",
    "wrapText": false,
    "className": "",
    "value": "payload",
    "valueType": "msg",
    "x": 860,
    "y": 260,
    "wires": []
  },
  {
    "id": "mqtt_in_ml",
    "type": "mqtt in",
    "z": "f00000000000000e",
    "name": "Prediction Sub",
    "topic": "smartbin/bin-01/usage_prediction",
    "qos": "1",
    "datatype": "auto-detect",
    "broker": "broker_config_node",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 130,
    "y": 180,
    "wires": [
      [
        "json_parse_ml"
      ]
    ]
  },
  {
    "id": "json_parse_ml",
    "type": "json",
    "z": "f00000000000000e",
    "name": "Parse Payload",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 320,
    "y": 180,
    "wires": [
      [
        "func_ml_ui_format",
        "func_ml_display_format"
      ]
    ]
  },
  {
    "id": "func_ml_ui_format",
    "type": "function",
    "z": "f00000000000000e",
    "name": "Pre-process ML UI Payload",
    "func": "let prediction = msg.payload.prediction;\nif (Array.isArray(prediction)) prediction = prediction[0];\nlet pred_upper = (prediction || '').toUpperCase();\nmsg.payload.prediction_display = pred_upper;\nmsg.payload.is_busy = (pred_upper === 'BUSY');\nmsg.payload.confidence_display = ((msg.payload.confidence || 0) * 100).toFixed(0) + '%';\nmsg.payload.text_color = msg.payload.is_busy ? '#f38ba8' : '#a6e3a1';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 100,
    "wires": [
      [
        "template_ml_card"
      ]
    ]
  },
  {
    "id": "template_ml_card",
    "type": "template",
    "z": "f00000000000000e",
    "name": "HTML Card Template",
    "field": "payload",
    "fieldType": "msg",
    "format": "html",
    "syntax": "mustache",
    "template": "<div style=\"background-color: #1e1e2e; border: 1px solid #313244; border-radius: 8px; padding: 12px; font-family: sans-serif;\"><h4 style=\"margin: 0 0 8px 0; color: #cdd6f4;\">ML Busy Status Prediction</h4><div style=\"display: flex; justify-content: space-between; align-items: center;\"><span style=\"font-weight: 600; font-size: 1.1em; color: {{payload.text_color}};\">{{payload.prediction_display}}</span><span style=\"background-color: #89b4fa; color: #11111b; padding: 2px 8px; border-radius: 12px; font-size: 0.85em; font-weight: bold;\">{{payload.confidence_display}} Confidence</span></div><div style=\"margin-top: 8px; font-size: 0.75em; color: #a6adc8;\">Predicted Hour: {{payload.predicted_hour}}:00<br/>Features: {{payload.features_used.day_of_week}}, Hour {{payload.features_used.hour}}</div></div>",
    "output": "str",
    "x": 640,
    "y": 100,
    "wires": [
      [
        "widget_text_ml"
      ]
    ]
  },
  {
    "id": "func_ml_display_format",
    "type": "function",
    "z": "f00000000000000e",
    "name": "Format display",
    "func": "let prediction = msg.payload.prediction;\nif (Array.isArray(prediction)) prediction = prediction[0];\nlet ts = msg.payload.utc_prediction_timestamp ? new Date(msg.payload.utc_prediction_timestamp * 1000).toISOString() : new Date().toISOString();\nmsg.payload = { prediction: prediction, confidence: msg.payload.confidence, timestamp: ts, device_id: 'nodered-ml-listener', event_type: 'ml_display', event_time: ts };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 240,
    "wires": [
      [
        "json_stringify_ml_display"
      ]
    ]
  },
  {
    "id": "json_stringify_ml_display",
    "type": "json",
    "z": "f00000000000000e",
    "name": "Stringify Output",
    "property": "payload",
    "action": "str",
    "pretty": false,
    "x": 720,
    "y": 240,
    "wires": [
      [
        "mqtt_out_ml_display"
      ]
    ]
  },
  {
    "id": "mqtt_out_ml_display",
    "type": "mqtt out",
    "z": "f00000000000000e",
    "name": "Publish ML Display",
    "topic": "smartbin/nodered/ml_display",
    "qos": "1",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker_config_node",
    "x": 930,
    "y": 240,
    "wires": []
  },
  {
    "id": "widget_text_ml",
    "type": "ui-template",
    "z": "f00000000000000e",
    "group": "group_virtual_sensors",
    "name": "ML Prediction Display",
    "order": 2,
    "format": "<div v-html=\"msg.payload\"></div>",
    "templateScope": "local",
    "x": 860,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "inject_heartbeat",
    "type": "inject",
    "z": "f00000000000000f",
    "name": "30s Heartbeat",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "30",
    "crontab": "",
    "once": true,
    "onceDelay": "0.1",
    "topic": "",
    "payload": "{\"status\":\"alive\"}",
    "payloadType": "json",
    "x": 140,
    "y": 380,
    "wires": [
      [
        "func_format_heartbeat"
      ]
    ]
  },
  {
    "id": "func_format_heartbeat",
    "type": "function",
    "z": "f00000000000000f",
    "name": "Timestamp Heartbeat",
    "func": "msg.payload = { status: msg.payload.status, timestamp: new Date().toISOString(), device_id: 'node-red-runtime', event_type: 'heartbeat', event_time: new Date().toISOString() };\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 380,
    "wires": [
      [
        "json_stringify_hb"
      ]
    ]
  },
  {
    "id": "json_stringify_hb",
    "type": "json",
    "z": "f00000000000000f",
    "name": "Stringify HB",
    "property": "payload",
    "action": "str",
    "pretty": false,
    "x": 550,
    "y": 380,
    "wires": [
      [
        "mqtt_out_heartbeat"
      ]
    ]
  },
  {
    "id": "mqtt_out_heartbeat",
    "type": "mqtt out",
    "z": "f00000000000000f",
    "name": "Heartbeat Pub",
    "topic": "smartbin/nodered/heartbeat",
    "qos": "1",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "broker_config_node",
    "x": 740,
    "y": 380,
    "wires": []
  },
  {
    "id": "inject_uptime",
    "type": "inject",
    "z": "f00000000000000f",
    "name": "1s Tick",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "0.1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 110,
    "y": 460,
    "wires": [
      [
        "func_uptime"
      ]
    ]
  },
  {
    "id": "func_uptime",
    "type": "function",
    "z": "f00000000000000f",
    "name": "Uptime Counter",
    "func": "let uptime = flow.get('uptime_seconds') || 0;\nuptime++;\nflow.set('uptime_seconds', uptime);\nlet sec = uptime % 60;\nlet min = Math.floor(uptime / 60) % 60;\nlet hrs = Math.floor(uptime / 3600) % 24;\nlet days = Math.floor(uptime / 86400);\nlet uptime_str = '';\nif (days > 0) uptime_str += days + 'd ';\nuptime_str += (hrs < 10 ? '0' : '') + hrs + ':' + (min < 10 ? '0' : '') + min + ':' + (sec < 10 ? '0' : '') + sec;\nmsg.payload = uptime_str;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 460,
    "wires": [
      [
        "widget_text_uptime"
      ]
    ]
  },
  {
    "id": "widget_text_uptime",
    "type": "ui-text",
    "z": "f00000000000000f",
    "group": "group_system",
    "order": 1,
    "width": "",
    "height": "",
    "name": "Uptime Display",
    "label": "Uptime",
    "format": "<code>{{msg.payload}}</code>",
    "layout": "row-spread",
    "style": false,
    "font": "",
    "fontSize": "",
    "color": "#000000",
    "wrapText": false,
    "className": "",
    "value": "payload",
    "valueType": "msg",
    "x": 560,
    "y": 460,
    "wires": []
  },
  {
    "id": "e47ff8625f08df6e",
    "type": "global-config",
    "env": [],
    "modules": {
      "@flowfuse/node-red-dashboard": "1.30.2"
    }
  }
]